:root {
  --bg: hsl(150, 3%, 12%);
  --fg: hsl(150, 10%, 80%);
  --bg-panel: hsl(130, 5%, 53%);
  --fg-panel: hsl(0deg, 0%, 20%);
  --selection-accent-bg: rgb(12, 56, 41);
  --selection-accent-fg: rgb(220, 236, 230);
}

body > header {
  background-color: hsl(130, 5%, 53%);
  box-shadow: 0 -1px 2.5px hsla(115, 42%, 84%, 0.5);
}
body > header a:hover, body > header a.button:hover {
  background-color: hsl(203, 6%, 26%);
  color: rgb(177, 190, 202);
}

div.panel {
  box-shadow: 0 -1px 2.5px hsla(115, 42%, 84%, 0.5);
}

body > footer a {
  color: inherit;
  text-decoration-color: currentColor !important;
}

.source-code {
  /*  theme: FlatUI Dark */
  --background: #222;
  --background-selected: #3c424c;
  --gutter-background: #222;
  --gutter-foreground: #ddd;
  --gutter-background-selected: #555;
  --gutter-foreground-selected: #ccc;
  --default:  #ccc;
  --comment:  #5c6370;
  --jsdoc:    #5C6370;
  --keyword:  #e06c75;
  --value:    #d19a66;
  --strlit:   #67a058;
  --template: #e06c75;
  --regexp:   #57B6C2;
  --operator: #abb2bf;
  --punctual: #ccc;
  --fn-name:  #3193c6;
}