/* this file is loaded by the webpages */
@import "design/icomoon/style.css";

:root {
  --fg: hsl(150, 3%, 12%);
  --fg-link: hsl(150, 5%, 6%);
  --fg-link-underline: hsl(150, 3%, 12%, 50%);
  --bg: hsl(147, 23%, 92%);
  --bg-panel: 
}

* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica Neue, Helvetica, Ariel, sans-serif;
  margin: 1em 1em;
  line-height: 1.5em;
  background-color: var(--bg);
  color: var(--fg);
}

a {
  color: var(--fg-link);
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--fg-link-underline); 
}

a svg.icon {
  text-decoration: none;
  margin-right: 0.5ex;
  vertical-align: text-top;
}

a:hover {
  text-decoration-color: var(--fg-link);
  text-decoration-style: solid;
}

input, textarea {
  border: 1px solid silver;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

form button {
  background-color: #bbbbf2;
  border: 2px solid currentColor;
  border-radius: .25em;
  cursor: pointer;
  font-size: inherit;
  line-height: 1.4em;
  padding: 0.25em 1em;
  max-width: 20ch;
}

form button:hover {
  background-color: lavender;
}

footer {
  margin-top: 3em;
  padding-top: 1.5em;
  border-top: 1px solid lightgrey;
}

/* Button styles */
button.button, a.button {
  --hue: 190deg;
  background-color: hsl(var(--hue), 60%, 93%);
  border-radius: 1.5mm;
  border: 0.75mm solid hsl(var(--hue), 80%, 50%);
  font-size: inherit;
  font-family: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 0.5mm 2mm;
  margin: 2px;
  text-decoration: none;
  color: hsl(var(--hue), 80%, 5%);
}

button.button > .icon, a.button > .icon {
  margin-right: 0.5ex;
  vertical-align: text-bottom;
}

/* Card Spread styles */
.card-spread {
  display: flex;
  flex-wrap: wrap;
}

.card-spread > .playing-card {
  margin: 2mm;
}

/* Flex Row styles */
div.flex-row, div.toolbar {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

/* Heading styles */
h1.heading, h2.heading, h3.heading, h4.heading, h5.heading, h6.heading {
  font-style: italic;
  font-size: 25pt;
  font-weight: 200;
  max-width: calc(100% - 5rem);
  line-height: 1.1;
}

h2.heading { font-size: 23pt; font-weight: 250; }
h3.heading { font-size: 21pt; font-weight: 300; }
h4.heading { font-size: 19pt; font-weight: 350; }
h5.heading { font-size: 17pt; font-weight: 400; }
h6.heading { font-size: 15pt; font-weight: 450; }

/* navigation heading */
nav {
  display: flex;
  background-color: white;
  border-radius: 1em;
  box-shadow: 0 1px 2.5px rgba(0, 0, 0, 30%);
  margin: 0 auto 1em auto;
  padding: 0.5ex;
  max-width: 60em;
  min-width: 585px;
  align-items: center;
}

nav a, nav a.button {
  margin: 0 1ex;
  text-decoration: none;
  color: hsl(0deg, 0%, 20%);
  background-color: transparent;
  padding: 0.5ex 1ex;
  border-radius: 1ex;
  text-align: center;
  border: 0 none;
}

nav a.button svg {
  height: 1.2em;
  width: 1.7em;
}

nav a:hover, nav a.button:hover {
  background-color: hsl(203, 33%, 95%);
}

/* panels */
div.panel {
  background-color: white;
  border-radius: 1ex;
  box-shadow: 0 1px 2.5px rgba(0, 0, 0, 30%);
  padding: 1em;
}

div.panel > h1 {
  color: inherit;
  font-weight: 200;
  font-style: italic;
  margin: 0 0 3mm 0;
}

/* breadcrumb trails */
div.breadcrumbs { display: block; }
div.breadcrumbs > * {
  display: inline-block;
}
div.breadcrumbs > *:not(:last-child) {
  margin-right: 1.8ex;
}
div.breadcrumbs > a svg {
  margin-right: 0.5ex;
  vertical-align: -10%;
}
div.breadcrumbs > *:not(:last-child)::after {
  position: absolute;
  content: "‣";
  opacity: 0.5;
  padding: 0 0.5ex;
  text-decoration: none;
}

form > dl > dt {
  word-wrap: none;
}

form > dl > dd {
  margin: 0;
}

form > dl > dd > textarea {
  resize: none;
}

form > button[type="submit"] {
  display: block;
  margin-left: 1ex;
}

/* Source Code widget */
.source-code {
  /*  theme: FlatUI Dark */
  --background: #222;
  --background-selected: #3c424c;
  --gutter-background: #222;
  --gutter-foreground: #ddd;
  --gutter-background-selected: #555;
  --gutter-foreground-selected: #ccc;
  --default:  #ccc;
  --comment:  #5c6370;
  --jsdoc:    #5C6370;
  --keyword:  #e06c75;
  --value:    #d19a66;
  --strlit:   #67a058;
  --template: #e06c75;
  --regexp:   #57B6C2;
  --operator: #abb2bf;
  --punctual: #ccc;
  --fn-name:  #3193c6;
  
  line-height: 1.3;
  border-radius: 2mm;
  overflow-x: scroll;
  font-family: monospace;
  counter-reset: line-number;
  background-color: var(--background);
  color: var(--default);
}

.source-code > code .c /* comment */ { color: var(--comment) }
.source-code > code .d /* JSDoc tag (only in comment) */ { color: var(--jsdoc) }
.source-code > code .k /* keyword */ { color: var(--keyword) }
.source-code > code .v /* value (number literal, boolean and some constants) */ { color: var(--value) }
.source-code > code .s /* string literal (also means a template string) */ { color: var(--strlit) }
.source-code > code .i /* interpolation content (only in template string) */ { color: var(--template) }
.source-code > code .r /* regexp literal */ { color: var(--regexp) }
.source-code > code .o /* operator symbol */ { color: var(--operator) }
.source-code > code .p /* punctual symbol */ { color: var(--punctual) }
.source-code > code .f /* function name */ { color: var(--fn-name) }


.source-code code {
  display: block;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  white-space: pre;
}

.source-code > code:first-child::before {
  padding-top: 1mm;
}
.source-code > code:last-child::before {
  padding-bottom: 1mm;
}
.source-code > code:hover {
  background-color: var(--background-selected);
}

.source-code > code::before {
  content: counter(line-number);
  counter-increment: line-number;
  display: inline-block;
  background-color: var(--gutter-background);
  color: var(--gutter-foreground);
  text-align: right;
  width: calc(1ex * var(--digits) + 2ex);
  padding-left: 1ex;
  padding-right: 1ex;
  margin-right: 1ex;
}

.source-code > code:hover::before {
  background-color: var(--gutter-background-selected);
  color: var(--gutter-foreground-selected);
}

/* ace code editor styling */
.code-editor.ace_editor {
  border-radius: 1ex;
}
.code-editor.ace_editor .ace_gutter {
  border-top-left-radius: 1ex;
  border-bottom-left-radius: 1ex;
}
.code-editor.ace_editor .ace_scroller {
  border-top-right-radius: 1ex;
  border-bottom-right-radius: 1ex;
}

/* Styled Text widget */
.styled-text.italic { font-style: italic; }
.styled-text.bold { font-weight: bold; }
.styled-text.retro {
  text-align: center;
  color: #fcedd8;
  text-shadow: 0.1em 0.1em 0px #eb452b,
               0.2em 0.2em 0px #efa032,
               0.3em 0.3em 0px #46b59b,
               0.4em 0.4em 0px #017e7f,
               0.5em 0.5em 0px #052939,
               0.6em 0.6em 0px #c11a2b,
               0.7em 0.7em 0px #c11a2b,
               0.8em 0.8em 0px #c11a2b,
               0.9em 0.9em 0px #c11a2b;
}
.styled-text.glitch {
  font-weight: 400;
  text-shadow: 0.25ex -0.15ex 0px lightgreen,
              -0.3ex   0.15ex 0px magenta;
}

/* Toolbar widget */
.toolbar {
  background: white;
  border-bottom: 1px solid #eee;
  box-shadow: 0 2mm 3mm rgba(0, 0, 0, 20%);
  padding: 2mm 2mm 2mm 2mm;
}


