/* this file is loaded by the webpages */

* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica Neue, Helvetica, Ariel, sans-serif;
  margin: 2em 1em;
  line-height: 1.5em;
}

input, textarea {
  border: 1px solid silver;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

form button {
  background-color: #bbbbf2;
  border: 2px solid currentColor;
  border-radius: .25em;
  cursor: pointer;
  font-size: inherit;
  line-height: 1.4em;
  padding: 0.25em 1em;
  max-width: 20ch;
}

form button:hover {
  background-color: lavender;
}

footer {
  margin-top: 3em;
  padding-top: 1.5em;
  border-top: 1px solid lightgrey;
}

/* Button styles */
button.button, a.button {
  --hue: 190deg;
  background-color: hsl(var(--hue), 60%, 93%);
  border-radius: 1.5mm;
  border: 0.75mm solid hsl(var(--hue), 80%, 50%);
  font-size: inherit;
  font-family: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 0.5mm 2mm;
  margin: 2px;
  text-decoration: none;
  color: hsl(var(--hue), 80%, 5%);
}

/* Card Spread styles */
.card-spread {
  display: flex;
  flex-wrap: wrap;
}

.card-spread > .playing-card {
  margin: 2mm;
}

/* Flex Row styles */
div.flex-row, div.toolbar {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

/* Heading styles */
h1.heading, h2.heading, h3.heading, h4.heading, h5.heading, h6.heading {
  font-style: italic;
  font-size: 25pt;
  font-weight: 200;
  max-width: calc(100% - 5rem);
  line-height: 1.1;
}

h2.heading { font-size: 23pt; font-weight: 250; }
h3.heading { font-size: 21pt; font-weight: 300; }
h4.heading { font-size: 19pt; font-weight: 350; }
h5.heading { font-size: 17pt; font-weight: 400; }
h6.heading { font-size: 15pt; font-weight: 450; }

/* Link styles */
a.link {
  /* no styles at the moment */
}

/* Monospace styles */
pre.monospace {
  /* no styles at the moment */
}

/* Notice panel styles */
.notice-panel {
  background-color: white;
  border: 1px solid #eee;
  border-radius: 2mm;
  padding: 4mm;
  box-shadow: 0 2mm 3mm rgba(0, 0, 0, 20%);
}

.notice-panel > h1 {
  color: inherit;
  font-weight: 200;
  font-style: italic;
  margin: 0 0 3mm 0;
}

/* Paragraph styles */
p.paragraph {
  
}

/* Playing card styles */
.playing-card {
  display: block;
  text-decoration: none;
  width: 64mm;
  height: 89mm;
  font-size: 20pt;
  background-color: white;
  color: black;
  font-weight: 300;
  padding: 5mm;
  border-radius: 0.125in;
  border: 1px solid #ddd;
  box-shadow: 0mm 2mm 3mm rgba(0, 0, 0, 20%);
}

.playing-card.invert {
  background-color: #111;
  color: #eee;
  border-color: black;
}

.playing-card .symbol {
  float: left;
  font-size: 15mm;
  line-height: 15mm;
}

.playing-card .title {
  display: block;
  line-height: 15mm;
  font-style: italic;
  font-weight: 200;
  text-align: center;
}

.playing-card .text {
  display: block;
  margin-top: 2mm;
  line-height: 1.1;
}

/* Simple Form widget */
form.simple-form {
  background-color: #eee;
  border-radius: 2mm;
  padding: 4mm;
}

form.simple-form > h1 {
  color: inherit;
  font-weight: 200;
  font-style: italic;
  font-size: 2em;
  margin: 0;
}

form.simple-form > dl > dt {
  word-wrap: none;
}

form.simple-form > dl > dd {
  margin: 0;
}

form.simple-form > dl > dd > textarea {
  resize: none;
}

form.simple-form > button[type="submit"] {
  display: block;
  margin-left: 1ex;
}

/* Source Code widget */
.source-code {
  /*  theme: FlatUI Dark */
  --background: #222;
  --background-selected: #3c424c;
  --gutter-background: #222;
  --gutter-foreground: #ddd;
  --gutter-background-selected: #555;
  --gutter-foreground-selected: #ccc;
  --default:  #ccc;
  --comment:  #5c6370;
  --jsdoc:    #5C6370;
  --keyword:  #e06c75;
  --value:    #d19a66;
  --strlit:   #67a058;
  --template: #e06c75;
  --regexp:   #57B6C2;
  --operator: #abb2bf;
  --punctual: #ccc;
  --fn-name:  #3193c6;
  
  line-height: 1.3;
  border-radius: 2mm;
  overflow-x: scroll;
  font-family: monospace;
  counter-reset: line-number;
  background-color: var(--background);
  color: var(--default);
}

.source-code .c /* comment */ { color: var(--comment) }
.source-code .d /* JSDoc tag (only in comment) */ { color: var(--jsdoc) }
.source-code .k /* keyword */ { color: var(--keyword) }
.source-code .v /* value (number literal, boolean and some constants) */ { color: var(--value) }
.source-code .s /* string literal (also means a template string) */ { color: var(--strlit) }
.source-code .i /* interpolation content (only in template string) */ { color: var(--template) }
.source-code .r /* regexp literal */ { color: var(--regexp) }
.source-code .o /* operator symbol */ { color: var(--operator) }
.source-code .p /* punctual symbol */ { color: var(--punctual) }
.source-code .f /* function name */ { color: var(--fn-name) }


.source-code code {
  display: block;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  white-space: pre;
}

.source-code > code:first-child::before {
  padding-top: 1mm;
}
.source-code > code:last-child::before {
  padding-bottom: 1mm;
}
.source-code > code:hover {
  background-color: var(--background-selected);
}

.source-code > code::before {
  content: counter(line-number);
  counter-increment: line-number;
  display: inline-block;
  background-color: var(--gutter-background);
  color: var(--gutter-foreground);
  text-align: right;
  width: calc(1ex * var(--digits) + 2ex);
  padding-left: 1ex;
  padding-right: 1ex;
  margin-right: 1ex;
}

.source-code > code:hover::before {
  background-color: var(--gutter-background-selected);
  color: var(--gutter-foreground-selected);
}



/* Styled Text widget */
.styled-text.italic { font-style: italic; }
.styled-text.bold { font-weight: bold; }
.styled-text.retro {
  text-align: center;
  color: #fcedd8;
  text-shadow: 0.1em 0.1em 0px #eb452b,
               0.2em 0.2em 0px #efa032,
               0.3em 0.3em 0px #46b59b,
               0.4em 0.4em 0px #017e7f,
               0.5em 0.5em 0px #052939,
               0.6em 0.6em 0px #c11a2b,
               0.7em 0.7em 0px #c11a2b,
               0.8em 0.8em 0px #c11a2b,
               0.9em 0.9em 0px #c11a2b;
}
.styled-text.glitch {
  font-weight: 400;
  text-shadow: 0.4em  0.1em 0px lightgreen,
              -0.3em -0.1em 0px magenta;
}

/* Toolbar widget */
.toolbar {
  background: white;
  border-bottom: 1px solid #eee;
  box-shadow: 0 2mm 3mm rgba(0, 0, 0, 20%);
  padding: 2mm 2mm 2mm 2mm;
}